.App {
  text-align: center;
}

.App-header {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(61, 61, 61, 0.8), rgba(0, 0, 0, 0.5)), url(./film/movieList/components/header/media/BY-en-20220711-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}